.newUser{
    flex: 4;
    background-color: rgba(236, 234, 234, 0.699);
}
.containerMain{
    margin: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 4px rgba(239,228,228,0.5);
    -webkit-box-shadow: 1px 1px 3px 4px rgba(239,228,228,0.5);
    -moz-box-shadow: 1px 1px 3px 4px rgba(239,228,228,0.5);
    background-color: white;
}
.title{
    margin:70px;
}
.container{
    display:flex;
}
.leftContainer{
    flex:5;

    display: flex;
    flex-wrap: wrap; 
}
.rightContainer{
    flex:1;
}

.newUserItems{
    padding: 10px 40px;
    width: 40%;
    display: flex;
    flex-direction: column;
}
.newUserItems label{
    padding: 10px;
    color: rgb(58, 66, 73);
    padding-bottom: 30px;
}
.newUserItems input{
    height: 40px;
    padding-left: 10px;
    padding-right: 20px;
    box-shadow: teal;
    border: none;
    border-bottom: solid 1px black;
    border-radius: 0px;
    background-color: rgb(227, 233, 233);
    border-bottom: none;
    
    
}


button{
    height: 40px;
    width: 200px;
    background-color:rgb(16, 196, 46) ;
    border-radius: 10px;
    cursor: pointer;
    margin: 40px;
    font-size: 15px;
    font-weight: bolder;
    float: right;
}
.prImg{
    height:200px;
    width:200px;
}
.rightWrapper{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: -40px;
}
.uploadImg{
    padding-left: 60px;
    cursor: pointer;
    
}
.btt{
    margin-top: 52px;
    float: right;
    height: 45px ;
    margin-left: 130px;
}
